*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a:hover{
    text-decoration: none;
    color:black;
}
.mainnav{
    position: relative;
    display:flex;
    justify-content:space-between;
    box-shadow: 0 1px 5px rgb(238, 238, 238);
}
.mainnav > .item {
    padding:10px;
}
.loginbtn{
    background-color: rgba(206, 54, 54, 0.802);
    color:white;
    line-height:34px;
    width:150px;
    letter-spacing:1.2px;
    text-align: center;
}
.loginbtn:hover {
    text-decoration: none;color:white;
    background-color:  rgb(206, 54, 54);;
}
.title{
    padding-left:20px;letter-spacing:2px;
}
.body{
    position:relative;
    width:100%;
    height:calc(100vh - 62px);
    display:flex;
    flex-direction: column;
    justify-content:center;align-items:center;
}
.b-item{
    padding:10px;
    transform: translateY(-50%);
    width:200px;
    text-align:center;

}

.create{
    background-color:rgba(206, 54, 54, 0.802) ;
    color:white;
    box-shadow: 0 1px 4px rgb(241, 241, 241);

}
.create:hover{
    background-color:rgb(206, 54, 54) ;
    color:white;
    box-shadow: 0 1px 10px rgb(241, 241, 241);

}   
.ans{
    color:black;
    box-shadow: 0 1px 4px rgb(241, 241, 241);
}
.ans:hover{
    box-shadow: 0 1px 10px rgb(241, 241, 241);
}
/* login */
.logindiv{
    position: relative;
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loginform{
    padding:30px;
    width: 400px;
    border:2px solid lightgrey
}